@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Pacifico&family=Poppins:wght@400;500;700&family=Ultra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@800;900&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --primary-color: #15c0a6;
  --secondary-color: #f5f2fe;
  --tertiary-color: #007462;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --body-font-family: "Ubuntu", serif !important;
  --heading-font-family: "Playfair Display", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: var(--heading-font-family) !important;
}

body {
  margin-top: 300px;
  font-family: var(--body-font-family) !important;
}

h3,
h4 {
  font-family: var(--body-font-family) !important;
  font-weight: 800;
}

h4 {
  color: var(--tertiary-color);
}

img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

li {
  padding-left: 20px;
}

.about-hero,
.details-section {
  padding: 20px 200px 25px 200px;
}

.about-hero p {
  font-size: 18px;
}

.about-hero h2 {
  font-size: 20px;
  font-family: var(--body-font-family) !important;
}

.details-row h4,
.details-row ul,
.details-row li {
  text-align: center;
  padding: 0px;
  font-weight: 500;
}

.details-row ul {
  list-style: none;
}

.divider {
  display: flex;
  justify-content: space-evenly;
}

footer {
  padding: 0 200px 0 200px;
  text-align: center;
}

footer a {
  color: black;
}

footer a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.hero-work {
  padding-top: 100px;
  padding-bottom: 300px;
  padding-left: 30px;
  background-attachment: relative;
  height: 100vh;
  background-size: cover;
  line-height: 2;
}

.sync {
  background-image: url("https://i.imgur.com/wet8WEb.jpg");
  height: 100vh;
}

.posterwall {
  background-image: url("https://i.imgur.com/QuVjchf.jpg");
  height: 100vh;
}

.weather {
  background-image: url("https://i.imgur.com/bcXrGPv.png");
}

.next-button {
  position: absolute;
  bottom: 25px;
  width: 15%;
}

.intro {
  padding-top: 100px;
  padding-bottom: 300px;
  padding-left: 30px;
  background-image: url("https://i.imgur.com/jtpB52b.jpg");
  background-attachment: fixed;
  height: 775px;
  background-size: cover;
  line-height: 2;
}

.intro h1,
.hero-work h1 {
  font-size: 96px;
}

.interviewees {
  text-align: center;
}

.intro p,
.hero-work p {
  font-size: 48px;
}

.intro h2,
.hero-work h2 {
  font-size: 36px;
  font-family: var(--body-font-family) !important;
}

.featured-work {
  font-size: 64px;
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  text-decoration: none;
  color: #007462;
  background: white;
  border: 1px solid #007462;
}

.progress-indicator {
  border-radius: 5px;
  background: black;
  width: 10px;
  height: 10px;
}

.posterwall .progress-indicator {
  background: white;
}

.active-indicator,
.posterwall .active-indicator {
  width: 15px;
  height: 15px;
  border-radius: 7px;
  background: var(--primary-color);
}

.quote {
  font-weight: 800;
  text-align: center;
  font-size: 36px;
}

.quote-two {
  font-style: italic;
  text-align: center;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  box-shadow: var(--box-shadow);
  color: #007462;
  border: 1px solid #007462;
}

.secondary-link:hover {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.sync-preview:hover {
  background-image: url("images/sync-preview.png");
}

.logo {
  max-width: 30px;
  display: inline;
}

.logo-divider {
  max-width: 45px;
  transform: rotate(45deg);
}

.logotype {
  margin-left: 10px;
  font-family: "Pacifico", cursive !important;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #15c0a6;
}

.overview,
.process,
.conclusions {
  padding-left: 250px;
  padding-right: 250px;
}

@media (max-width: 1300px) {
  .overview,
  .process,
  .conclusions,
  .details-section {
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-hero {
    padding: 0px;
  }
}

@media (max-width: 800px) {
  .content-column {
    display: flex;
    justify-content: space-between;
  }

  .intro h1 {
    font-size: 64px;
  }

  .interview-photo {
    max-width: 60%;
  }

  .overview,
  .process,
  .conclusions {
    padding-left: 0;
    padding-right: 0;
  }
  .next-button {
    position: absolute;
    bottom: 25px;
    width: 30%;
  }
}

@media (max-width: 576px) {
  .small-heading {
    font-size: 36px;
  }

  .featured-work {
    font-size: 36px;
  }

  .intro h1,
  .hero-work h1 {
    font-size: 48px;
  }

  .intro h2,
  .hero-work h2 {
    font-size: 20px;
  }

  .intro {
    background-image: url("https://i.imgur.com/NlCF0it.jpg?1");
    background-attachment: fixed;
    background-size: contain;
    height: 660px;
  }

  .hero-work {
    background-attachment: relative;
    background-size: cover;
    height: 100vh;
  }

  .sync {
    background-image: url("https://i.imgur.com/IWusDcX.jpg");
  }

  .posterwall {
    background-image: url("https://i.imgur.com/nDEcmwf.jpg");
  }

  .next-button {
    position: absolute;
    bottom: 150px;
    width: 30%;
  }

  img {
    max-width: 90%;
  }

  footer {
    padding: 0;
    text-align: center;
  }

  footer h4 {
    font-size: 18px;
  }
}
