@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Pacifico&family=Poppins:wght@400;500;700&family=Ultra&display=swap");

:root {
  --primary-color: #15c0a6;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --body-font-family: "Poppins", sans-serif !important;
  --heading-font-family: "Ultra", serif !important;
}

html {
  scroll-behavior: smooth;
}

body {
  margin-top: 300px;
  font-family: var(--body-font-family) !important;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family) !important;
}

.intro {
  padding-top: 100px;
  padding-bottom: 300px;
  padding-left: 30px;
  background-image: url("https://i.imgur.com/jtpB52b.jpg");
  background-attachment: fixed;
  height: 775px;
  background-size: cover;
  line-height: 300%;
}

.intro h1 {
  font-size: 96px;
}

.intro p {
  font-size: 48px;
}

.intro h2 {
  font-size: 36px;
  font-family: var(--body-font-family) !important;
}

.featured-work {
  font-size: 64px;
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  text-decoration: none;
  color: #007462;
  background: var(--secondary-color);
  border: 1px solid #007462;
}

.logo {
  max-width: 30px;
}

.logotype {
  margin-left: 10px;
  font-family: "Pacifico", cursive !important;
  font-weight: bold;
  letter-spacing: 0.2rem;
  color: #15c0a6;
}

@media (max-width: 576px) {
  .small-heading {
    font-size: 36px;
  }

  .featured-work {
    font-size: 44px;
  }

  .intro h2 {
    font-size: 24px;
  }

  .intro {
    background-image: url("https://i.imgur.com/NlCF0it.jpg?1");
    background-attachment: fixed;
    background-size: contain;
    height: 660px;
  }
}

@media (max-width: 800px) {
  .content-column {
    display: flex;
    justify-content: space-between;
  }

  h1.text-white {
    font-size: 64px;
  }
}
